body{
    background-image:url(tlo2.jpg);
}

#cos{
    background-color: aquamarine;
}
header{
    background-color: aliceblue;
    width: 64%;
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 0%;
}
h1{

    width: 64%;
    margin-left: 18%;
    margin-right: 18%;

    font-weight: bold;
    text-align: center; 
    font-size: 45px;
}
h3{
    width: 64%;

    margin-left: 18%;
    margin-right: 18%;

}
main{
    background-color: aliceblue;
    width: 64%;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;    
}

#nr1{
    height: 455px;
    width: 50%;
    display: flex;

    align-items: center;
    flex-direction: column;
}
#nr2{
    display: flex;
    height: 455px;
    width: 50%;
    align-items: center;
    flex-direction: column;
}
#nr3{
    display: flex;
    height: 455px;
    width: 50%;
    align-items: center;
    flex-direction: column;
}
#nr4{
    display: flex;
    height: 455px;
    width: 50%;
    align-items: center;
    flex-direction: column;
}
#nr5{
    display: flex;
    height: 455px;
    width: 50%;
    align-items: center;
    flex-direction: column;
}
#nr6{
    display: flex;
    height: 455px;
    width: 50%;
    align-items: center;
    flex-direction: column;
}
#nr7{
    display: flex;
    height: 455px;
    width: 50%;
    align-items: center;
    flex-direction: column;
}
#nr8{
    display: flex;
    height: 455px;
    width: 50%;
    align-items: center;
    flex-direction: column;
}
#nr9{
    display: flex;
    height: 455px;
    width: 50%;
    align-items: center;
    flex-direction: column;
}
#nr10{
    display: flex;
    height: 475px;
    width: 50%;
    align-items: center;
    flex-direction: column;
}