#s1{
    background-color: antiquewhite;
    margin-left: 28%;
    margin-right: 27%;
    width: 45%;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#s2{
    width: 47%;
    height: 450px;
    display: flex;
    justify-content: center;


}
#s3{

    width: 47%;
    height: 450px;
    display: flex;
    justify-content: center;

}
table{
    border-style:groove;
    border-spacing: 10px;

}
td{
    width: 100px;
    text-align: center;
}
body{
    background-image:url(tlo.jpg);
}
header{
    background-color: antiquewhite;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
#wypisz{
    background-color: antiquewhite;
    text-align: center;
    width: 45%;
    height: 200px;
    margin-left: 28%;
    margin-right: 27%;
}